<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/public/styles/style.css">
    </head>
    <body>
      <div class="container">
         <h1><%=project.name%></h1>
          <h2 id="time"></h2>
          <button type="button" name="pause" onclick="location.href = '/saltbae/<%=project._id%>/edit'">Pause</button>
          <button type="button" name="stop" onclick="location.href = '/saltbae/<%=project._id%>/edit'">Stop</button>
            <nav>
            <a href="/saltbae/<%=id%>/edit">Edit</a><br>
            <a href="/saltbae">Back to Index</a>
            </nav>
        </div>
        <script type="text/javascript">
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

        window.onload = function () {
            var pomoTimer = 60 * <%=project.timer%>,
            display = document.querySelector('#time');
            startTimer(pomoTimer, display);
        };
        </script>
      </body>
</html>
