<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/public/styles/style.css">
    </head>
    <body>
                    <div class="header">
                        <div>
                            <a class="header-link" href="/saltbae/"> Home </a>
                            <a class="header-link" href="/saltbae/history"> Archive </a>

                        </div>
                        Hi, <%=currentUser.userName%>
                    </div>
      <div class="container">

          <h2 id="time"></h2>
        <h1 class="project-name">
            <%=project.name%>
        </h1>

        <div class="controls-container">
          <button class="controls" type="button" name="pause" onclick="location.href = '/saltbae/<%=project._id%>/edit'">


            <!--Pause SVG-->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM7 8a1 1 0 012 0v4a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v4a1 1 0 102 0V8a1 1 0 00-1-1z"
                    clip-rule="evenodd" />
            </svg>
            <span>Pause</span>
        </button>
          <button class="controls" type="button" name="stop" onclick="location.href = '/saltbae/<%=project._id%>/edit'">

            <!--Stop SVG-->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z"
                    clip-rule="evenodd" />
            </svg>
            <span>Stop </span>

        </button>
        <div>
          <br>
        </div>
        <script type="text/javascript">
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

        window.onload = function () {
            var pomoTimer = 60 * <%=project.timer%>,
            display = document.querySelector('#time');
            startTimer(pomoTimer, display);
        };
        </script>
      </body>
</html>
